/* .App {
  text-align: center;
} */


.register-container{
  width: 500px !important;
}
.App{
  text-align: center;
  margin-bottom: 100px;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}




